*{
    padding: 0px;
    margin: 0px;
}

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#TelaLogin{
    text-align: center;
}
.BotaoCadastro{
    width: 50.6%;
    height: 30px;
    margin-top: 15px;
}

.InputCadastro{
    width: 50%;
    height: 3vh;
    margin-bottom: 10px;
}