@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #ffffff;
}

header{
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    border-bottom: #0f439b;
}

.logo{
width: 450px;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
}

#TelaLogin{
    text-align: center;
}

.BotaoCadastro{
    width: 50.6%;
    height: 30px;
    margin-top: 15px;
    background-color: #0f439b;
    color: #ffffff;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.3;
    font-family: "Goldman", sans-serif
}

.BotaoCadastro:hover{
    background-color: #0d3b8a;
    height: 35px;
    width: 51.6%;
    font-size: 17px;
}

.InputCadastro{
    width: 50%;
    height: 3vh;
    margin-bottom: 10px;
    border-radius: 5px;
}

#TelaLogin, h2{
    color: #0f439b;
    margin-bottom: 10px;
    font-family: "Goldman", sans-serif
}

#tituloLogin{
    font-family: "Goldman", sans-serif;
    font-size: 35px;
}